iframe{
    width: 100%;
    height: 550px;
    padding: 10px;
    border: 1px dashed lightgray;
}
a {
    text-decoration: none;
    color: darkred;
}
a:link, a:visited, a:active{
    color: darkred;
}
a:hover{
    FONT-WEIGHT:bold;
    color: azure;
    background-color: blueviolet;
}